@font-face {
    font-family: 'KOTRAHOPE';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }
*{
    box-sizing: border-box;
    font-family: 'KOTRAHOPE';
    font-size: 20px;
}
body{
    margin: 50px;
    padding: 50px;
    background-color: beige;
}
#box{
    border: solid;
    border-radius: 30px;
    padding: 30px;
    background-color: lightskyblue;
}
#title{
    text-align: center;
}
#inputBox{
    text-align: center;;
}
#addTodo{
    margin: 0;
    width: 70%;
}
#button{    
    width: 20px;
    height: 30px;
    margin: 0;
}
#todoList{
    padding-right: 20px;
}
li{
    display: flex;
    justify-content: space-between;
    background-color: lightpink;
    padding: 5px;
}